h1 {
    color: white;
    font-size: 130px;
    font-family: Georgia, serif 
    
}

h4 {
    color: white;
    font-size: 40px;
}

h3 {
    color: white;
    font-size: 80px;
}

body {
    background-color: black;
    font-family: "Trebuchet MS", Helvetica, sans-serif
}
