.cat-holder {
  width: 100%;
  position: fixed;
  bottom: 0;
  right: 0;
  border-color:black;
}

.cat-holder img {
  width: 100%;
  display: block;
}

.poem-holder {
  font-size: 18px;
  font-family: "American Typewriter", serif;
  position: fixed;
  z-index: 100;
  color: black;
  background:white;
  width:30 px;  
  padding: 10px;  
  top: 400px;  
  border-style: solid;
  border-width: 2px;
}

.go-button {
  width: 300px;
  height: 20px;
  font-family: "American Typewriter", serif;
  font-size: 14px;
  position: fixed;
  top: 20px;
  right: 100px;
  color: black;
  text-align: center;
  z-index: 1000;
  border-style: solid;
  border-width: 2px;
  background:white;
  
}
.dot {
  position: absolute;
  border-style: solid;
  border-width: 1px;
  width: 800px;
  height: 4px;
}

