.body {
    font-size: 0;
}

.letter-wrapper {
        display: inline-block;
        margin: 0 0 100px 0;
}

.letter a{
    /*background: #ff0;*/
    width: 31px;
    height: 50px;
    position: relative;
    transform-origin: top left;
}

.pixel {
    width: 28px;
	height: 28px;
	background: #0000ff;
}

.a-left {
    top: 0;
    left: 0;
}

.a-top {
    top: 0;
    left: 0;
}

.a-right {
    right: 0;
}

.a-mid {
    left: 0;
    top: 175px;
    
}
