.wrapper {
    display: inline-block;
}

.body {
    background: #ffffff;
    margin: 0;
    font-family: lato, helvetica, sans-serif;

}

.text {
  font-family: Bembo, Georgia, serif;
  background-color: #000000;
  color: #808080;
  height: 45px;
  width: 100;
  font-size: 160px;
  position: absolute;
  padding-top: 10px;
  padding-right: 40px;
  padding-left: 40px;
  float: left;
  line-height: 170px;
}
.images {
    position:absolute;
    font-family: lato, helvetica, sans-serif;
}
a:link {
    color: black;
    text-decoration: none;
}

/* visited link */
a:visited {
    color: black;
    text-decoration: none;
}
a:hover {
    color: #808080;

}
