.wrapper {
    display: inline-block;
}

.body {
    background: #ffffff;
    margin: 0;
    font-family: Bembo, Georgia, serif;
    
}
.both {
  width: 240;
  height: 100;
  font-size: 300;
  position: absolute;
  float: left;
  line-height: 170px;
  background-color: #000000;
  color: #808080;
  margin-top: 250;
  margin-left: 810;
  padding-left: 20;
}
.h5 {
  position: absolute;
  padding-left: 1004px;
  padding-top: 2;
  margin-top: 200;
  font-family: lato, helvetica, sans-serif;
}

.text {
  background-color: #000000;
  color: #808080;
  height: 45px;
  width: 100;
  font-size: 160px;
  position: absolute;
  padding-top: 10px;
  padding-right: 40px;
  padding-left: 40px;
  float: left;
  line-height: 170px;
}

a:link {
    color: black;
    text-decoration: none;
}

/* visited link */
a:visited {
    color: black;
    text-decoration: none;
}
a:hover {
    color: #808080;

}
