body {
    background: #ffffff;
    margin: 0;
    font-family: Lato, helvetica, sans-serif; 
}

.text {
  color: #000000;
  font-size: 37px;
  position: absolute;
  padding-top: 45px;
  position: absolute;
  float: left;
  margin-left: 1090px;
}

.square {
  line-height: .5;
  font-size: 270px;
  margin-left: 20px;
  margin-top: 10px;
  float: left;
  position: absolute;
}

.both {
  font-size: 37;
  position: absolute;
  float: left;
  background-color: #000000;
  color: #808080;
  margin-top: 45;
  height: 16;
  margin-left: 1140;
}

.images {
  padding-top: 220px;
}

a:link {
    color: black;
    text-decoration: none;
}

/* visited link */
a:visited {
    color: black;
    text-decoration: none;
}
a:hover {
    color: #808080;

}