body {
    background: #ffffff;
    margin: 0;
}

.text {
  position: absolute;
  color: black;
  padding-top: 2;
  margin-top: 200;
  background: #000000;
  font-family: lato, helvetica, sans-serif;
}

/* visited link */
a:visited {
    color: black;
    text-decoration: none;
}
a:hover {
    color: #808080;

}