body {
    background: #ffffff;
    margin: 0;
    font-family: Bembo, Georgia, serif; 
}

.text {
  color: #000000;
  font-size: 160;
  position: absolute;
  padding-left: 10px;
  float: left;
  line-height: 170px;
}

.square {
  font-size: 30;
  margin-left: 900;
  float: left;
  position: absolute;
}

a:hover, a:visited, a:link, a:active {
    text-decoration:none;
}
