body {
    background: #FFFACD;

}

.title {
    color: #00008B;
    font-size: 30px;
    font-family: "Times New Roman"; 
    margin: 10px;
    position: fixed;
    padding:10px;
    text-decoration: underline;    
    
}


.fortune-wrapper {
  width: 223px;
  height: 61px;
  background: white;
  color: #00008B;
  font-size: 10px;
  vertical-align: middle;
  border-style: solid;
  border-width: 1px;
  border-color: black;
  text-align: center;
  position: fixed;

}  

.cornerleft {
  width: 30px;
  height: 8px;
  background: #00008B;
  position: absolute;
  top: 0;
  left: 0;
}

.cornerbottomleft {
  width: 30px;
  height: 4px;
  background: #00008B;
  position: absolute;
  left: 0;
  bottom:0;
}

.cornerright {
  width: 8px;
  height: 8px;
  background: #00008B;
  position: absolute;
  top: 0;
  right: 0;
}

.cornerbottomright {
  width: 8px;
  height: 4px;
  background: #00008B;    
  position: absolute;
  right: 0;
  bottom: 0;
}

.fortune-1 {
  margin-top:100px;
  margin-left:10px;
}

.fortune-2 {
  margin-top:100px;
  margin-left:266px;
}

.fortune-3 {
  margin-top:100px;
  margin-left: 520px;
}

.fortune-4 {
  margin-top:100px;
  margin-left:775px;
}

.fortune-5 {
  margin-top:100px;
  margin-left:1028px;
}

a:link {
    color: #00008B;
}

/* visited link */
a:visited {
    color: #00008B;
    
}
a:hover {
    color: white;
}

h6 {
    font-size: 30px;
    font-family: "Times New Roman"; 
    margin-top: 610px;
    margin-left: 1092px;
    position: fixed;
    padding:10px;
    text-decoration: underline;    
}

h7 {
    font-size: 30px;
    font-family: "Times New Roman"; 
    margin-top: 20px;
    margin-left: 1155px;
    position: fixed;
    padding:10px;
    text-decoration: underline;    
    
}

