body {
    background: #FF6262;

}

.title {
    color: black;
    font-size: 30px;
    font-family: "Times New Roman"; 
    margin: 10px;
    position: fixed;
    padding:10px;
    text-decoration: underline;    
    
}

a:link {
    color: black;
}

/* visited link */
a:visited {
    color: black;
    
}
a:hover {
    color: white;
}

h6 {
    font-size: 30px;
    position:fixed;
    margin-left:1100px;
    margin-top: 590px;
    text-decoration: underline;    

}

h7 {
    font-size: 30px;
    font-family: "Times New Roman"; 
    position: fixed;
    text-decoration: underline;  
    margin-left:1150px;
}