body {
    background: #FF6262;

}

.title {
    color: white;
    font-size: 30px;
    font-family: "Times New Roman"; 
    margin: 10px;
    position: fixed;
    padding:10px;
}

.go{
    color: white;
    font-size: 30px;
    font-family: "Times New Roman"; 
    position: fixed;
    top: 630px;
    left:1190px;
}
