body {
    background: #FF6262;

}

.title {
    color: white;
    font-size: 30px;
    font-family: "Times New Roman"; 
    margin: 10px;
    position: fixed;
    padding:10px;
}

.go{
    color: white;
    font-size: 30px;
    font-family: "Times New Roman"; 
    position: fixed;
    top: 630px;
    left:1190px;
}

hover {
    background-color: #00FFFF;
    text-decoration: none;

}

.fortune-wrapper {
  width: 223px;
  height: 61px;
  background: white;
  color: blue;
  font-size: 10px;
  vertical-align: middle;
  border-style: solid;
  border-width: 1px;
  border-color: black;
  margin: 100px;
  text-align: center; 
  line-height: 50px;  
}

.corner {
  width: 223px;
  height: 61px;
  background: black;
}	

