
body{
    background-color:#000000;
}
.pic {
  padding-top: 100px;
  padding-left: 400px;
  position: absolute;
  text-align: center;
  position: absolute;
  z-index:-1;
}

.close {
    font-family: Din Condensed, Helvetica, sans-serif;
    color: #ffffff;
    font-size: 80px;
}
