body {
    background: #ffffff;
    margin: 0;
    font-family: Bembo, Georgia, serif;
    color: #ffffff;
    
}

.intro {
  color: #000000;
  font-size: 600px;
  position: absolute;
  padding-top: 300px;
  padding-left: 300;
  float: left;
  line-height: 170px;
}

#circle {
	width: 100px;
	height: 100px;
	background: red;
	-moz-border-radius: 50px;
	-webkit-border-radius: 50px;
	border-radius: 50px;
}
