.wrapper {
    display: inline-block;
}

.body {
    background: #ffffff;
    margin: 0;
    font-family: Bembo, Georgia, serif;
    
}

.text {
  color: #000000;
  font-size: 300;
  position: absolute;
  padding-top: 250px;
  padding-left: 150px;
  float: left;
  line-height: 170px;
  
}

a:hover {
  text-decoration: none;
  color:  #b0afaf;
  -webkit-transition:color 0.5s ease-in; 
  -moz-transition:color 0.5s ease-in;
}

.circle {
  position: absolute;
  margin-top: 220;
  margin-left: 450;
  width: 230;
  height: 230;
  opacity: 0.5;
  -moz-border-radius: 50px;
  -webkit-border-radius: 50px;
  border-radius: 300px;
}

.both {
  color: #000000;
  font-size: 300;
  position: absolute;
  padding-top: 250px;
  padding-left: 900px;
  float: left;
  line-height: 170px;
  
}
.circle2 {
  position: absolute;
  margin-top: 220;
  margin-left: 900;
  width: 230;
  height: 230;
  opacity: 0.5;
  -moz-border-radius: 50px;
  -webkit-border-radius: 50px;
  border-radius: 300px;
  
}