.intro {
    color:#000000;
    font-size: 200px;
    font-family: Bembo, Georgia, serif;
    background-color:#ffffff;
    position:absolute;
    width:40px;
    height:690px;
    margin:40px;
    padding-top:20px;
    padding-left:10px;
    float:left;
    line-height:170px;;
}

.circle {
    position:absolute;
    color:#000000;
    width: 50px;
    height: 50px;
    -webkit-border-radius: 25px;
    -moz-border-radius: 25px;
    border-radius: 25px; 
}
