body {
    background: #000;
    margin: 0;
    font-family: Din Condensed, Helvetica, sans-serif;
    color: #ffffff;
    
}

.header {
    font-size: 180px;
    width:40px;
    height:500px;
    margin:20px;
    padding:40px;
    float:left;
}


.c1 {
    width:40px;
    height:550px;
    margin:40px,40px,20px,20px;
    padding:40px;
    float:right;
    background-color:#00ff00;
}

.c2 {
    width:40px;
    height:550px;
    margin:20px;
    padding:40px;
    float:right;
    background-color: #ffff00;
}

.c3 {
    width:40px;
    height:550px;
    margin:20px;
    padding:40px;
    float:right;
    background-color: #0000ff;
}

a:hover, a:visited, a:link, a:active{
    text-decoration:none;
    
}