h1 {
    color: white;
    font-size: 130px;
    font-family: ArialNarrow, Arial, Helvetica,sans-serif 
}

h3 {
    color: white;
    font-size: 0px;
    font-family: ArialNarrow, Arial, Helvetica,sans-serif
}

body {
    background-color: black;

}
